<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <table>
    <tr>
      <td>Route Name</td>
      <td>Route Link</td>
    </tr>
    <tr>
      <td>Common</td>
      <td><a class="navbar-brand" href="/common">Common</a></td>
    </tr>
    <tr>
      <td>Users</td>
      <td><a class="navbar-brand" href="/users">Users</a></td>
    </tr>
  </table>
</body>

</html>